.wrapper {  
    background: white;
    margin: auto;
    text-align: center;
    
}

#contentWrapper {
    background: white;
    border: 1px solid black;
    margin-top: 0px;
    margin:auto;
    width: 70%;
    min-height: 500px;
    background:white; 
}

#errorText {
    display:none;
}


#textBox {  
    display:inline-block;
    width:  70%;
    vertical-align: auto;

}

#submitMessage {
    width: 10%;
    height: 40px;
    margin: auto;
    margin-top: 45px;
    display: inline;
}

#newMessage {
    margin-top: 40px;
    display: inline;
    float: left;
}

#messagesDiv {
    
    margin-top: 10px;
    margin:auto;
    background: white;
    
}

.unread {

   
    height: 50px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: left;
    background: lightblue;
}

.read {
    
    margin: auto;
    margin-top: 10px;
    text-align: left;
    height: 50px;
    width: 50%;
    background: white;
}

.box {

    float:right;
}




